# INSTRUCTIVO

Hola estimado aprendiz de ciencia de datos, 
Ha llegado la hora de que aprendas los mejores trucos de la herramienta PANDAS, 
atraves de este libro te ensenaré como utilizar PANDAS
acompañame a aprender los mandos para que puedas ser el master de los cientificos de datos.

# LECCION 1

Si quieres ser el master en data science y domininar el mundo debes saber estos primeros pasos, vamos a conocer de pandas que es una libreria de las mas pouplares de Python para analizar datos. 

A lo largo de las lecciones practicaras trucos que recomiendo que aprendas para que superes todas las pruebas. 
Aprendamos como traer un archivo y empezar a trabajar con los datos. 

usualmente empezamos con el siguiente codigo para cargas pandas.

In [4]:
import pandas as pd

# Cargar datos

Traer bases de datos es facil creando un DataFrame con la informacion contenida en un archivo plano.
Esto lo podemos hacer con el comando pd.read_csv(), para nuestro ejemplo usaremos la informacion de hotel_booking descargada de kaggle https://www.kaggle.com/jessemostipak/hotel-booking-demand

In [5]:
df=pd.read_csv(r"C:\Users\MILTON MEDINA P\Documents\01-Educacion y Formacion\Ciencia de datos\Modulo 2- Aprendizaje Automatico\hotel_bookings.csv")
df.shape

(119390, 32)

Puedes revisar el contenido de tu datafrme con el comando siguiente

In [10]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

# Leccion 2

Ahora que sabes como  tener un set de datos podemis aprender a indexar, seleccionar y asignar diferentes atributos por ejemplo veamos lo que contiene la oolumna hoteles para eso usamos el siguiente codigo

In [12]:
df.hotel

0         Resort Hotel
1         Resort Hotel
2         Resort Hotel
3         Resort Hotel
4         Resort Hotel
              ...
119385      City Hotel
119386      City Hotel
119387      City Hotel
119388      City Hotel
119389      City Hotel
Name: hotel, Length: 119390, dtype: object

Tambien podemos escoger una fila especifica de una columna por ejemplo lel registro numero  20 de  hoteles, esto lo hacemos con el siguiente codigo (recuerda que en python los numeros empiezan en 0 por lo cual 20 registros es igual a pedir el que esta en el numero 19)

In [13]:
df['hotel'][19]

'Resort Hotel'

Para que selecciones la primera linea pandas te da un codigo especial el cual es este.(**Ojo** , estimado aprendiz esta es la primera fila con datos y no son los titulos

In [14]:
df.iloc[0]

hotel                             Resort Hotel
is_canceled                                  0
lead_time                                  342
arrival_date_year                         2015
arrival_date_month                        July
arrival_date_week_number                    27
arrival_date_day_of_month                    1
stays_in_weekend_nights                      0
stays_in_week_nights                         0
adults                                       2
children                                   0.0
babies                                       0
meal                                        BB
country                                    PRT
market_segment                          Direct
distribution_channel                    Direct
is_repeated_guest                            0
previous_cancellations                       0
previous_bookings_not_canceled               0
reserved_room_type                           C
assigned_room_type                           C
booking_changes                              3
deposit_type                        No Deposit
agent                                      NaN
company                                    NaN
days_in_waiting_list                         0
customer_type                        Transient
adr                                        0.0
required_car_parking_spaces                  0
total_of_special_requests                    0
reservation_status                   Check-Out
reservation_status_date             2015-07-01
Name: 0, dtype: object

el codigo iloc es muy poderoso con el puedes hacer selecciones a tu gusto por ejemplo los primeros dos registros de la segunda columna

In [7]:
df.iloc[1:3, 1]

1    0
2    0
Name: is_canceled, dtype: int64

Puedes crear una nueva columna con lo que quieras dandole un nombre a tu columna y los datos que quiera que produzca para nuestro ejemplo sera la constante 5 estrellas

In [9]:
df['estrellas'] = '5 estrellas'
df['estrellas']

0         5 estrellas
1         5 estrellas
2         5 estrellas
3         5 estrellas
4         5 estrellas
             ...
119385    5 estrellas
119386    5 estrellas
119387    5 estrellas
119388    5 estrellas
119389    5 estrellas
Name: estrellas, Length: 119390, dtype: object

# Leccion 3

Muy bien ahora que conoces los comandos basicos ya podemos empezar a usar un poco la estadistica y determinar que datos tenemos para llevar a cabo el estudio que nos piden

Usa el siguiente codigo para analizar una columna espefica que te interese por ejemplo veamos como se compone la columna adults

In [10]:
df.adults.describe()

count    119390.000000
mean          1.856403
std           0.579261
min           0.000000
25%           2.000000
50%           2.000000
75%           2.000000
max          55.000000
Name: adults, dtype: float64

Si te interesa algun dato en especial de los que se resumen aqui tambien los puedes obtener por separado por ejemplo la media es el siguiente codigo

In [12]:
df.adults.mean()

1.8564033838679956

Tambien podemos obtener los nombres unicos de una columna de strings para tener un listado por ejemplo de los nombres del pias del visitante

In [14]:
df.country.unique()

array(['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', nan, 'ROU', 'NOR', 'OMN',
       'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD',
       'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ',
       'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR',
       'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR',
       'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR',
       'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO',
       'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT',
       'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN',
       'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD',
       'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM',
       'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU',
       'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG',
       'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP',
       'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN',
       'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP',
       'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN',
       'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA',
       'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT',
       'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO'], dtype=object)

# Truco

Este truco te va a encantar , es de un tema mas avanzado pero a esta altura del curso puede interesarte. 
A veces la informacion que recibimos viene en una escala dada por ejemplo las personas medimos entre 1.4 m a 2m ya mas alla o menos se condideran datos extremos para mostrar esto como centrados podemos tomar los valores y normalizarlo mediante es siguiente codigo.

In [17]:
media_adultos= df.adults.mean()
df.adults.map(lambda p: p -media_adultos)

0         0.143597
1         0.143597
2        -0.856403
3        -0.856403
4         0.143597
            ...
119385    0.143597
119386    1.143597
119387    0.143597
119388    0.143597
119389    0.143597
Name: adults, Length: 119390, dtype: float64

Nota que estos son los valores que tendria sin embargo estos no ha sido cambiado en tu dataset por lo cual vamos a hacer ese cambio con los siguientes codigos

In [18]:
df.adults

0         2
1         2
2         1
3         1
4         2
         ..
119385    2
119386    3
119387    2
119388    2
119389    2
Name: adults, Length: 119390, dtype: int64

In [19]:
def remean_adults(row):
    row.adults = row.adults - media_adultos
    return row

df.apply(remean_adults, axis='columns')

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,estrellas
0,Resort Hotel,0,342,2015,July,27,1,0,0,0.143597,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,5 estrellas
1,Resort Hotel,0,737,2015,July,27,1,0,0,0.143597,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,5 estrellas
2,Resort Hotel,0,7,2015,July,27,1,0,1,-0.856403,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,5 estrellas
3,Resort Hotel,0,13,2015,July,27,1,0,1,-0.856403,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,5 estrellas
4,Resort Hotel,0,14,2015,July,27,1,0,2,0.143597,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,5 estrellas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,0.143597,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,5 estrellas
119386,City Hotel,0,102,2017,August,35,31,2,5,1.143597,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,5 estrellas
119387,City Hotel,0,34,2017,August,35,31,2,5,0.143597,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,5 estrellas
119388,City Hotel,0,109,2017,August,35,31,2,5,0.143597,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,5 estrellas
119389,City Hotel,0,205,2017,August,35,29,2,7,0.143597,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,5 estrellas

Tambien podemos concatenar columnas para crear valores propios para analizar algun tema en especifico en nuestro ejemplo hotel con su categoria de estrellas

In [31]:
df.hotel +" categoria " +df.estrellas
#+"_"+df.arrival_date_week_number

0         Resort Hotel categoria 5 estrellas
1         Resort Hotel categoria 5 estrellas
2         Resort Hotel categoria 5 estrellas
3         Resort Hotel categoria 5 estrellas
4         Resort Hotel categoria 5 estrellas
                         ...
119385      City Hotel categoria 5 estrellas
119386      City Hotel categoria 5 estrellas
119387      City Hotel categoria 5 estrellas
119388      City Hotel categoria 5 estrellas
119389      City Hotel categoria 5 estrellas
Length: 119390, dtype: object

# Leccion 4

Muy bien no te des por vencido ahora vamos a ver codigo que nos permita agrupar y ordenar
por ejemplo por tipo de hotel

In [34]:
df.groupby('hotel').stays_in_weekend_nights.sum()

hotel
City Hotel      63082
Resort Hotel    47664
Name: stays_in_weekend_nights, dtype: int64

Puedes obtener mucha informacion agrupada con este codigo, por ejemplo el maximo de noches en los fines de semana por cada categoria de hoteles

In [35]:
df.groupby('hotel').stays_in_weekend_nights.max()

hotel
City Hotel      16
Resort Hotel    19
Name: stays_in_weekend_nights, dtype: int64

Tambien podemos agrupar en varias categorias con el siguiente codigo veamos como seria los hotels por meses

In [38]:
agrupado=df.groupby(['hotel', 'arrival_date_month']).apply(lambda df: df.loc[df.stays_in_weekend_nights.idxmax()])
agrupado

                                        hotel  is_canceled  lead_time  \
hotel        arrival_date_month
City Hotel   April                 City Hotel            1          8
             August                City Hotel            0          0
             December              City Hotel            1         42
             February              City Hotel            1         12
             January               City Hotel            0         11
             July                  City Hotel            0        206
             June                  City Hotel            1         28
             March                 City Hotel            0         16
             May                   City Hotel            1        102
             November              City Hotel            1         25
             October               City Hotel            0          5
             September             City Hotel            0        140
Resort Hotel April               Resort Hotel            1         13
             August              Resort Hotel            0        113
             December            Resort Hotel            0        119
             February            Resort Hotel            0          1
             January             Resort Hotel            1        322
             July                Resort Hotel            0        126
             June                Resort Hotel            1        292
             March               Resort Hotel            0         80
             May                 Resort Hotel            1        330
             November            Resort Hotel            0        148
             October             Resort Hotel            0         24
             September           Resort Hotel            0         30

                                 arrival_date_year arrival_date_month  \
hotel        arrival_date_month
City Hotel   April                            2016              April
             August                           2015             August
             December                         2015           December
             February                         2016           February
             January                          2017            January
             July                             2016               July
             June                             2016               June
             March                            2016              March
             May                              2016                May
             November                         2015           November
             October                          2015            October
             September                        2016          September
Resort Hotel April                            2016              April
             August                           2015             August
             December                         2015           December
             February                         2017           February
             January                          2017            January
             July                             2016               July
             June                             2017               June
             March                            2017              March
             May                              2017                May
             November                         2016           November
             October                          2015            October
             September                        2015          September

                                 arrival_date_week_number  \
hotel        arrival_date_month
City Hotel   April                                     16
             August                                    33
             December                                  51
             February                                   6
             January                                    3
             July                                      30
             June                                      24
             March                                     11
             May                                       21
             November                                  49
             October                                   41
             September                                 39
Resort Hotel April                                     18
             August                                    31
             December                                  49
             February                                   5
             January                                    2
             July                                      28
             June                                      24
             March                                     10
             May                                       18
             November                                  48
             October                                   44
             September                                 37

                                 arrival_date_day_of_month  \
hotel        arrival_date_month
City Hotel   April                                      13
             August                                     10
             December                                   19
             February                                    1
             January                                    15
             July                                       23
             June                                       10
             March                                      11
             May                                        15
             November                                   30
             October                                     4
             September                                  22
Resort Hotel April                                      25
             August                                      1
             December                                    2
             February                                    3
             January                                    10
             July                                        5
             June                                       14
             March                                       5
             May                                         5
             November                                   23
             October                                    26
             September                                   7

                                 stays_in_weekend_nights  \
hotel        arrival_date_month
City Hotel   April                                     6
             August                                    9
             December                                  8
             February                                  9
             January                                  13
             July                                     14
             June                                      4
             March                                    14
             May                                       6
             November                                  9
             October                                   6
             September                                16
Resort Hotel April                                     9
             August                                   18
             December                                  8
             February                                 13
             January                                  16
             July                                     19
             June                                      8
             March                                    12
             May                                       6
             November                                 10
             October                                   9
             September                                13

                                 stays_in_week_nights  adults  ...  agent  \
hotel        arrival_date_month                                ...
City Hotel   April                                 15       1  ...   93.0
             August                                20       0  ...    NaN
             December                              20       1  ...    8.0
             February                              20       1  ...    9.0
             January                               30       0  ...    9.0
             July                                  34       2  ...    9.0
             June                                   9       1  ...   14.0
             March                                 35       0  ...    NaN
             May                                   13       1  ...    9.0
             November                              24       2  ...    NaN
             October                               13       1  ...    NaN
             September                             41       0  ...    9.0
Resort Hotel April                                 24       2  ...    NaN
             August                                42       1  ...    NaN
             December                              21       2  ...  177.0
             February                              32       1  ...    NaN
             January                               40       2  ...    8.0
             July                                  50       1  ...    NaN
             June                                  19       1  ...   40.0
             March                                 26       2  ...  273.0
             May                                   12       2  ...  240.0
             November                              25       1  ...   75.0
             October                               21       1  ...  185.0
             September                             33       2  ...  240.0

                                 company days_in_waiting_list  \
hotel        arrival_date_month
City Hotel   April                   NaN                    0
             August                 47.0                    0
             December                NaN                    0
             February                NaN                    0
             January                 NaN                    0
             July                    NaN                    0
             June                    NaN                    0
             March                 215.0                    0
             May                     NaN                    0
             November                NaN                    0
             October                93.0                    0
             September               NaN                    0
Resort Hotel April                 110.0                    0
             August                  NaN                    0
             December                NaN                    0
             February                NaN                    0
             January                 NaN                    0
             July                    NaN                    0
             June                    NaN                    0
             March                   NaN                    0
             May                     NaN                    0
             November                NaN                    0
             October               281.0                    0
             September               NaN                    0

                                   customer_type     adr  \
hotel        arrival_date_month
City Hotel   April                     Transient  130.00
             August                    Transient    0.00
             December                  Transient   80.16
             February                  Transient   63.03
             January                   Transient    0.00
             July                Transient-Party    0.00
             June                      Transient  172.15
             March               Transient-Party    0.00
             May                       Transient  132.60
             November                  Transient   98.33
             October                   Transient   95.00
             September                 Transient    8.34
Resort Hotel April                     Transient   77.00
             August                    Transient  110.50
             December                  Transient   68.20
             February                  Transient   42.11
             January                   Transient   25.50
             July                      Transient  110.00
             June                       Contract   49.95
             March               Transient-Party    0.26
             May                       Transient   75.00
             November                  Transient   41.98
             October             Transient-Party    0.00
             September                 Transient    0.00

                                required_car_parking_spaces  \
hotel        arrival_date_month
City Hotel   April                                        0
             August                                       0
             December                                     0
             February                                     0
             January                                      0
             July                                         0
             June                                         0
             March                                        0
             May                                          0
             November                                     0
             October                                      0
             September                                    0
Resort Hotel April                                        0
             August                                       0
             December                                     0
             February                                     0
             January                                      0
             July                                         0
             June                                         0
             March                                        0
             May                                          0
             November                                     0
             October                                      0
             September                                    0

                                 total_of_special_requests  \
hotel        arrival_date_month
City Hotel   April                                       0
             August                                      0
             December                                    0
             February                                    1
             January                                     0
             July                                        1
             June                                        0
             March                                       0
             May                                         1
             November                                    0
             October                                     1
             September                                   2
Resort Hotel April                                       0
             August                                      3
             December                                    0
             February                                    3
             January                                     0
             July                                        3
             June                                        0
             March                                       0
             May                                         0
             November                                    1
             October                                     2
             September                                   1

                                 reservation_status  reservation_status_date  \
hotel        arrival_date_month
City Hotel   April                         Canceled               2016-04-06
             August                       Check-Out               2015-09-08
             December                      Canceled               2015-11-07
             February                      Canceled               2016-01-26
             January                      Check-Out               2017-02-27
             July                         Check-Out               2016-09-09
             June                          Canceled               2016-05-13
             March                        Check-Out               2016-04-29
             May                           Canceled               2016-05-13
             November                      Canceled               2015-11-30
             October                      Check-Out               2015-10-23
             September                    Check-Out               2016-11-18
Resort Hotel April                         Canceled               2016-04-19
             August                       Check-Out               2015-09-30
             December                     Check-Out               2015-12-31
             February                     Check-Out               2017-03-20
             January                       Canceled               2016-10-31
             July                         Check-Out               2016-09-12
             June                          Canceled               2017-06-14
             March                        Check-Out               2017-04-12
             May                           Canceled               2016-06-10
             November                     Check-Out               2016-12-28
             October                      Check-Out               2015-11-25
             September                    Check-Out               2015-10-23

                                   estrellas
hotel        arrival_date_month
City Hotel   April               5 estrellas
             August              5 estrellas
             December            5 estrellas
             February            5 estrellas
             January             5 estrellas
             July                5 estrellas
             June                5 estrellas
             March               5 estrellas
             May                 5 estrellas
             November            5 estrellas
             October             5 estrellas
             September           5 estrellas
Resort Hotel April               5 estrellas
             August              5 estrellas
             December            5 estrellas
             February            5 estrellas
             January             5 estrellas
             July                5 estrellas
             June                5 estrellas
             March               5 estrellas
             May                 5 estrellas
             November            5 estrellas
             October             5 estrellas
             September           5 estrellas

[24 rows x 33 columns]

Pidemos ordenar los valores con el siguiente codigo

In [39]:
agrupado.sort_values(by='arrival_date_week_number', ascending=False)

                                        hotel  is_canceled  lead_time  \
hotel        arrival_date_month
City Hotel   December              City Hotel            1         42
             November              City Hotel            1         25
Resort Hotel December            Resort Hotel            0        119
             November            Resort Hotel            0        148
             October             Resort Hotel            0         24
City Hotel   October               City Hotel            0          5
             September             City Hotel            0        140
Resort Hotel September           Resort Hotel            0         30
City Hotel   August                City Hotel            0          0
Resort Hotel August              Resort Hotel            0        113
City Hotel   July                  City Hotel            0        206
Resort Hotel July                Resort Hotel            0        126
City Hotel   June                  City Hotel            1         28
Resort Hotel June                Resort Hotel            1        292
City Hotel   May                   City Hotel            1        102
Resort Hotel May                 Resort Hotel            1        330
             April               Resort Hotel            1         13
City Hotel   April                 City Hotel            1          8
             March                 City Hotel            0         16
Resort Hotel March               Resort Hotel            0         80
City Hotel   February              City Hotel            1         12
Resort Hotel February            Resort Hotel            0          1
City Hotel   January               City Hotel            0         11
Resort Hotel January             Resort Hotel            1        322

                                 arrival_date_year arrival_date_month  \
hotel        arrival_date_month
City Hotel   December                         2015           December
             November                         2015           November
Resort Hotel December                         2015           December
             November                         2016           November
             October                          2015            October
City Hotel   October                          2015            October
             September                        2016          September
Resort Hotel September                        2015          September
City Hotel   August                           2015             August
Resort Hotel August                           2015             August
City Hotel   July                             2016               July
Resort Hotel July                             2016               July
City Hotel   June                             2016               June
Resort Hotel June                             2017               June
City Hotel   May                              2016                May
Resort Hotel May                              2017                May
             April                            2016              April
City Hotel   April                            2016              April
             March                            2016              March
Resort Hotel March                            2017              March
City Hotel   February                         2016           February
Resort Hotel February                         2017           February
City Hotel   January                          2017            January
Resort Hotel January                          2017            January

                                 arrival_date_week_number  \
hotel        arrival_date_month
City Hotel   December                                  51
             November                                  49
Resort Hotel December                                  49
             November                                  48
             October                                   44
City Hotel   October                                   41
             September                                 39
Resort Hotel September                                 37
City Hotel   August                                    33
Resort Hotel August                                    31
City Hotel   July                                      30
Resort Hotel July                                      28
City Hotel   June                                      24
Resort Hotel June                                      24
City Hotel   May                                       21
Resort Hotel May                                       18
             April                                     18
City Hotel   April                                     16
             March                                     11
Resort Hotel March                                     10
City Hotel   February                                   6
Resort Hotel February                                   5
City Hotel   January                                    3
Resort Hotel January                                    2

                                 arrival_date_day_of_month  \
hotel        arrival_date_month
City Hotel   December                                   19
             November                                   30
Resort Hotel December                                    2
             November                                   23
             October                                    26
City Hotel   October                                     4
             September                                  22
Resort Hotel September                                   7
City Hotel   August                                     10
Resort Hotel August                                      1
City Hotel   July                                       23
Resort Hotel July                                        5
City Hotel   June                                       10
Resort Hotel June                                       14
City Hotel   May                                        15
Resort Hotel May                                         5
             April                                      25
City Hotel   April                                      13
             March                                      11
Resort Hotel March                                       5
City Hotel   February                                    1
Resort Hotel February                                    3
City Hotel   January                                    15
Resort Hotel January                                    10

                                 stays_in_weekend_nights  \
hotel        arrival_date_month
City Hotel   December                                  8
             November                                  9
Resort Hotel December                                  8
             November                                 10
             October                                   9
City Hotel   October                                   6
             September                                16
Resort Hotel September                                13
City Hotel   August                                    9
Resort Hotel August                                   18
City Hotel   July                                     14
Resort Hotel July                                     19
City Hotel   June                                      4
Resort Hotel June                                      8
City Hotel   May                                       6
Resort Hotel May                                       6
             April                                     9
City Hotel   April                                     6
             March                                    14
Resort Hotel March                                    12
City Hotel   February                                  9
Resort Hotel February                                 13
City Hotel   January                                  13
Resort Hotel January                                  16

                                 stays_in_week_nights  adults  ...  agent  \
hotel        arrival_date_month                                ...
City Hotel   December                              20       1  ...    8.0
             November                              24       2  ...    NaN
Resort Hotel December                              21       2  ...  177.0
             November                              25       1  ...   75.0
             October                               21       1  ...  185.0
City Hotel   October                               13       1  ...    NaN
             September                             41       0  ...    9.0
Resort Hotel September                             33       2  ...  240.0
City Hotel   August                                20       0  ...    NaN
Resort Hotel August                                42       1  ...    NaN
City Hotel   July                                  34       2  ...    9.0
Resort Hotel July                                  50       1  ...    NaN
City Hotel   June                                   9       1  ...   14.0
Resort Hotel June                                  19       1  ...   40.0
City Hotel   May                                   13       1  ...    9.0
Resort Hotel May                                   12       2  ...  240.0
             April                                 24       2  ...    NaN
City Hotel   April                                 15       1  ...   93.0
             March                                 35       0  ...    NaN
Resort Hotel March                                 26       2  ...  273.0
City Hotel   February                              20       1  ...    9.0
Resort Hotel February                              32       1  ...    NaN
City Hotel   January                               30       0  ...    9.0
Resort Hotel January                               40       2  ...    8.0

                                 company days_in_waiting_list  \
hotel        arrival_date_month
City Hotel   December                NaN                    0
             November                NaN                    0
Resort Hotel December                NaN                    0
             November                NaN                    0
             October               281.0                    0
City Hotel   October                93.0                    0
             September               NaN                    0
Resort Hotel September               NaN                    0
City Hotel   August                 47.0                    0
Resort Hotel August                  NaN                    0
City Hotel   July                    NaN                    0
Resort Hotel July                    NaN                    0
City Hotel   June                    NaN                    0
Resort Hotel June                    NaN                    0
City Hotel   May                     NaN                    0
Resort Hotel May                     NaN                    0
             April                 110.0                    0
City Hotel   April                   NaN                    0
             March                 215.0                    0
Resort Hotel March                   NaN                    0
City Hotel   February                NaN                    0
Resort Hotel February                NaN                    0
City Hotel   January                 NaN                    0
Resort Hotel January                 NaN                    0

                                   customer_type     adr  \
hotel        arrival_date_month
City Hotel   December                  Transient   80.16
             November                  Transient   98.33
Resort Hotel December                  Transient   68.20
             November                  Transient   41.98
             October             Transient-Party    0.00
City Hotel   October                   Transient   95.00
             September                 Transient    8.34
Resort Hotel September                 Transient    0.00
City Hotel   August                    Transient    0.00
Resort Hotel August                    Transient  110.50
City Hotel   July                Transient-Party    0.00
Resort Hotel July                      Transient  110.00
City Hotel   June                      Transient  172.15
Resort Hotel June                       Contract   49.95
City Hotel   May                       Transient  132.60
Resort Hotel May                       Transient   75.00
             April                     Transient   77.00
City Hotel   April                     Transient  130.00
             March               Transient-Party    0.00
Resort Hotel March               Transient-Party    0.26
City Hotel   February                  Transient   63.03
Resort Hotel February                  Transient   42.11
City Hotel   January                   Transient    0.00
Resort Hotel January                   Transient   25.50

                                required_car_parking_spaces  \
hotel        arrival_date_month
City Hotel   December                                     0
             November                                     0
Resort Hotel December                                     0
             November                                     0
             October                                      0
City Hotel   October                                      0
             September                                    0
Resort Hotel September                                    0
City Hotel   August                                       0
Resort Hotel August                                       0
City Hotel   July                                         0
Resort Hotel July                                         0
City Hotel   June                                         0
Resort Hotel June                                         0
City Hotel   May                                          0
Resort Hotel May                                          0
             April                                        0
City Hotel   April                                        0
             March                                        0
Resort Hotel March                                        0
City Hotel   February                                     0
Resort Hotel February                                     0
City Hotel   January                                      0
Resort Hotel January                                      0

                                 total_of_special_requests  \
hotel        arrival_date_month
City Hotel   December                                    0
             November                                    0
Resort Hotel December                                    0
             November                                    1
             October                                     2
City Hotel   October                                     1
             September                                   2
Resort Hotel September                                   1
City Hotel   August                                      0
Resort Hotel August                                      3
City Hotel   July                                        1
Resort Hotel July                                        3
City Hotel   June                                        0
Resort Hotel June                                        0
City Hotel   May                                         1
Resort Hotel May                                         0
             April                                       0
City Hotel   April                                       0
             March                                       0
Resort Hotel March                                       0
City Hotel   February                                    1
Resort Hotel February                                    3
City Hotel   January                                     0
Resort Hotel January                                     0

                                 reservation_status  reservation_status_date  \
hotel        arrival_date_month
City Hotel   December                      Canceled               2015-11-07
             November                      Canceled               2015-11-30
Resort Hotel December                     Check-Out               2015-12-31
             November                     Check-Out               2016-12-28
             October                      Check-Out               2015-11-25
City Hotel   October                      Check-Out               2015-10-23
             September                    Check-Out               2016-11-18
Resort Hotel September                    Check-Out               2015-10-23
City Hotel   August                       Check-Out               2015-09-08
Resort Hotel August                       Check-Out               2015-09-30
City Hotel   July                         Check-Out               2016-09-09
Resort Hotel July                         Check-Out               2016-09-12
City Hotel   June                          Canceled               2016-05-13
Resort Hotel June                          Canceled               2017-06-14
City Hotel   May                           Canceled               2016-05-13
Resort Hotel May                           Canceled               2016-06-10
             April                         Canceled               2016-04-19
City Hotel   April                         Canceled               2016-04-06
             March                        Check-Out               2016-04-29
Resort Hotel March                        Check-Out               2017-04-12
City Hotel   February                      Canceled               2016-01-26
Resort Hotel February                     Check-Out               2017-03-20
City Hotel   January                      Check-Out               2017-02-27
Resort Hotel January                       Canceled               2016-10-31

                                   estrellas
hotel        arrival_date_month
City Hotel   December            5 estrellas
             November            5 estrellas
Resort Hotel December            5 estrellas
             November            5 estrellas
             October             5 estrellas
City Hotel   October             5 estrellas
             September           5 estrellas
Resort Hotel September           5 estrellas
City Hotel   August              5 estrellas
Resort Hotel August              5 estrellas
City Hotel   July                5 estrellas
Resort Hotel July                5 estrellas
City Hotel   June                5 estrellas
Resort Hotel June                5 estrellas
City Hotel   May                 5 estrellas
Resort Hotel May                 5 estrellas
             April               5 estrellas
City Hotel   April               5 estrellas
             March               5 estrellas
Resort Hotel March               5 estrellas
City Hotel   February            5 estrellas
Resort Hotel February            5 estrellas
City Hotel   January             5 estrellas
Resort Hotel January             5 estrellas

[24 rows x 33 columns]

Estimado aprendiz me encantaria mostrarte mucho mas pero el tiempo apremia y existen infinidad de codigos que puedas usar, ahora te toca a ti continuar tu proceso, con esto informacion basica he creado tu mindset para que puedas generar imaginacion de la infinitas posibilidades y usos que tienes con la libreria de PANDAS, empieza tu aventura y te espero en la liga añil donde solo los mejores llegan.